@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quartz.Net POC</h1>
    <p class="lead">Prova de conceito do Quartz.NET 3.0 </p>
    <p><a href="https://www.quartz-scheduler.net/documentation/index.html" class="btn btn-primary btn-lg">Aprenda Mais &raquo;</a></p>
</div>

